@model IEnumerable<Seguradora.Models.seguro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CpfCnpjCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoSeguro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Objeto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CpfCnpjCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoSeguro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Objeto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdSeguro }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdSeguro }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdSeguro })
        </td>
    </tr>
}

</table>
